.main-header{
  margin-top: 25%;
  padding: 0 50px;
  text-align: right;
}
.logo-img{
  display: block;
  height: auto;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.site-title{
  color: $brand-white;
  text-transform: uppercase;
  font-size: 60px;
}
.logo{
  color: $brand-white;
  text-decoration: none;
  &:after{
    display: none;
    border-bottom: none;
  }
}
