.post{
  margin-bottom: 80px;
  h1, h2, h3, h4, h5{
    max-width: 800px;
    a{
      text-decoration: none;
    }
  }
  h3{
    margin-bottom: 20px;
  }
  p{
    line-height: 1.6;
    max-width: 800px
  }
  a{
    position: relative;
    display: inline-block;
    color: $brand-black;
    text-decoration: none;
    &:after{
      position: absolute;
      display: block;
      bottom:  4px;
      height: 1px;
      width: 100%;
      content: '';
      border-bottom: 5px solid fade-out($brand-primary, .5);
    }
    &:hover, &:active, &:focus{
      &:after{
        border-bottom-color: fade-out($brand-primary, .3);
      }
    }
  }
}
