.col{
  display: inline-block;
  float: left;
  height: auto;
  width: 100%;
  padding: 20px;
  margin: 0;
}
.half{
  width: 100%;
  @media screen and (min-width: $sm){
    width: 100%;
  }
  @media screen and (min-width: $md){
    width: 50%;
  }
  @media screen and (min-width: $lg){
    width: 50%;
  }
}
.one-third{
  width: 100%;
  @media screen and (min-width: $sm){
    width: 100%;
  }
  @media screen and (min-width: $md){
    width: 28%;
  }
  @media screen and (min-width: $lg){
    width: 28%;
  }
}
.two-thirds{
  width: 100%;
  @media screen and (min-width: $sm){
    width: 100%;
  }
  @media screen and (min-width: $md){
    width: 72%;
    &.offset-one-third{
      margin-left: 28%;
    }
  }
  @media screen and (min-width: $lg){
    width: 72%;
    &.offset-one-third{
      margin-left: 28%;
    }
  }
}
