

// Fonts

$font-family-sans-serif: 'Roboto', Verdana, Helvetica, sans-serif;
$font-family-monospace: 'PT Mono',Menlo,Monaco,Consolas,"Courier New",monospace;

$sm: 420px;
$md: 780px;
$lg: 980px;

$brand-gray: #ebebeb;
$brand-primary: #5275bd;
$brand-secondary: #51bd9d;
$brand-tertiary: #262626;
$brand-dark: #262626;
$brand-error: #D42011;

$light-gray: #EEEEEE;
$brand-white: #fff;
$brand-black: #000;
