<div class="contact-me">
  <h1>Contact Me</h1>

  <h5>The best way to reach me is via Twitter at <a href="https://twitter.com/@jdcauley" rel="external">@jdcauley</a>, or you can email me at <a href="mailto:jordan@cauley.co">jordan@cauley.co</a>.</h5>

  <h3>Find me elsewhere</h3>

  <div class="network">
    <h4><a href="http://github.com/jdcauley">GitHub</a></h4>
  </div>
  <div class="network">
    <h4><a href="http://twitter.com/jdcauley">Twitter</a></h4>
  </div>
  <div class="network">
    <h4><a href="https://www.linkedin.com/in/jdcauley">LinkedIn</a></h4>
  </div>
  <div class="network">
    <h4><a href="https://codepen.io/jdcauley">Codepen</a></h4>
  </div>
  <div class="network">
    <h4><a href="http://www.rdio.com/people/jordancauley/">Rdio</a></h4>
  </div>

</div>
